{% set url_prefix='/' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>

    {% block head %}
    <!-- Bootstrap -->
    <link href="{{ handler.static_url("bootstrap-3.3.7-dist/css/bootstrap.min.css") }}" rel="stylesheet">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="{{ handler.static_url("font-awesome-4.7.0/css/font-awesome.min.css") }}">
    <link rel="stylesheet" href="{{ handler.static_url("css/font-awesome-animation.min.css") }}">

    <!-- favicon -->
    <link rel="shortcut icon" href="{{ handler.static_url('favicon.ico') }}">

    {% endblock %}

    <link href="{{ url_prefix }}static/css/style.css" rel="stylesheet">

  </head>
  <body>
    {% block nav %}
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-left branding">
            <a href="{{ url_prefix }}">
            <i class="fa fa-fw fa-2x fa-heartbeat on fa-github faa-pulse animated" aria-hidden="true"></i>
            GitHub repo health report</a>
          </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse navbar-right">
          <form class="navbar-form navbar-left" method="POST" action="/">
              <div class="input-group">
                  <input type="text" size=40 class="form-control" placeholder="GitHub repo (e.g. &quot;pandas-dev/pandas&quot;)" value="{{ repo_slug }}" name="slug">
                  <span class="input-group-btn">
                      <button class="btn btn-secondary" type="submit"><i class="fa fa-medkit faa-ring animated-hover"></i></button>
                  </span>
            </div>
            {{ handler.xsrf_form_html() }}
          </form>

          <ul class="nav navbar-nav navbar-right">
          {% block auth %}
          <li><p class="navbar-btn">
          {% if not authenticated %}
            <a href="{{ url_prefix }}oauth" class="btn btn-success">
            <i class="fa fa-github fa-lg inline-icon fa-fw"></i> Login
            </a>
            {% else %}
            <div class="dropdown">
              <span class="dropdown-toggle" data-toggle="dropdown"><img src="{{ user.avatar_url.split('?')[0] }}?s=40" height="34"/>
              <span class="caret"></span></span>
              <ul class="dropdown-menu" role="menu" aria-labelledby="AuthenticationMenu">
                <li class="dropdown-header" style="font-size: inherit;">Signed in as <strong>{{ user.login }}</strong></li>
                <li class="divider"></li>
                <li><a href="{{ url_prefix}}logout">Sign out</a></li>
              </ul>
            </div>
          {% endif %}
          </p></li>
          {% endblock %}
          </ul>
        </div>
      </div>
    </nav>
    {% endblock %}

    {% block content_container %}
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    {% endblock %}

    {% block post_content %}
    <script src="{{ url_prefix }}static/js/jquery-3.1.1.min.js"></script>
    <script src="{{ url_prefix }}static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    {% endblock %}
    <footer class="footer">
      <div class="container">
          <p class="row-centered">
          <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
            <img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" />
          </a>
          | Created by <a href="https://github.com/pelson">Phil Elson</a> | About
        </p>

        </div>
    </footer>
  </body>
</html>
