{% extends "base.html" %}

{% set title='Uh-oh!' %}

{% if traceback %}
{% set github_issue_title = "Traceback from site: '{}'".format(error) %}
{% set github_issue_body = """
Hi,

I was looking at {uri} on repohealth.info and got the following traceback:

```
{traceback}
```

Direct link: https://repohealth.info/{uri}

Thanks,
""".format(uri=handler.request.uri, traceback=traceback.strip()) %}
{% endif %}



{% block content %}

<div class="row-centered">
  <div class="col-sm-10 col-centered">
    <div class="thumbnail centered thumb-min-height no-box-shadow">
        <i class="fa fa-fw fa-15x fa-frown-o"></i>
        <h3>Uh-oh!</h3>
      <div class="caption">
        <p>
        {% if error %}
            {{ error }}
        {% else %}
            Unfortunately there has been an unhandled exception...
        {% endif %}
        </p>
        {% if traceback %}
        <p>
        <pre style="text-align: left;">{{ traceback|e }}</pre>
        </p>
        <a href="https://github.com/pelson/repohealth.info/issues/new?title={{ github_issue_title|urlencode }}&body={{ github_issue_body|urlencode }}">
            You may want to consider reporting this on the repohealth issue tracker...
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
