{% extends "base.html" %}

{% set devel=False %}

{% block content %}
<div class="row row-centered">
    <div class="panel col-md-6 col-centered no-box-shadow">
        <div style="text-align: center">
            <i id="status_icon" class="notification-icon fa fa-spinner fa-pulse fa-fw" style="font-size: 9em;"></i>
            <h3 class="h3">Fetching report data for "{{ repo_slug }}"</h3>
        </div>
        <div class="col-centered">
            <p>
                <ul id="status_log" class="fa-ul">
                </ul>
            </p>
            <div class="status_message_container">
                <span class="h4" style="padding-right: 1em;">Response:</span>
                <span id="status_message">{% if devel %}Server response{% endif %}</span>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block post_content %}
{{ super() }}
<script>

function show_status(status_info) {
    var cList = $('ul#status_log');
    lis = cList.find('li');
    for (i = 0; i < status_info.length; i++) {
        if (i >= lis.length) {
            var li = $('<li/>').attr("id", "status-log-" + i).appendTo(cList);
            var spinner = $('<div/>').appendTo(li);
            $('<i/>').addClass('inline-icon fa-li fa fa-cog fa-spin fa-3x fa-fw').appendTo(spinner);
            var message = $('<span/>').addClass('status-message').appendTo(spinner);
        } else {
            li = $('#status-log-' + i)
            message = li.find('.status-message');
        }
        var status = status_info[i];
        if (status_info[i].end !== undefined) {
            spinner = $(li.find('.inline-icon')[0]);
            spinner.removeClass('fa-cog fa-spin');
            spinner.addClass('fa-check');
        } 

        message.html(status_info[i].status);
    }
}

function redirect_when_ready() {
    $.ajax({
            url: "/api/request/{{ repo_slug }}",
            method: "POST",
            data: {token: '{{ token }}'},
            success: function( data ) {
                      $('#status_message').html(data.message);
                      show_status(data.status_info);                        

                      if (data.status == 200) {
                        $('#status_message').html('Reloading page now that the resource is available.');
                        location.reload();
                      } else {
                        setTimeout(redirect_when_ready, 1000);
                      }
                     },
            error: function(data, hmmm, status) {
                                                 $('#status_message').html('An error occured');
                                                 $('#status_message').html(data.responseJSON.message);
                                                 $('#status_icon').removeClass('fa-spinner fa-pulse');
                                                 $('#status_icon').addClass('fa-exclamation-triangle');
                                                 }
    });
};

{% if not devel %}
redirect_when_ready();
{% else %}
status_info=[{status:"Doing a thing", start:"a date"},
             {status:"Done a thing", start:"a date", end:"a date"},
             {status:"Done a really really really really really really really wordy thing that might even have <strong>HTML</strong> in it.", start:"a date", end:"a date"},
             ];
show_status(status_info);
{% endif %}
</script>

{% endblock %}
