{% extends "base.html" %}

{% set github = payload['github'] %}
{% set repo_slug = payload['github']['repo']['full_name'] %}


{% block content %}

{% for issue in github.issues %}
    {{ issue.number }}
{% endfor %}



<table style="max-width: 80%">
    <tbody>
    <tr>
        <td>
            First time contributors
        </td>
        <td>
            {{ payload.viz.new_contributors.div }}
        </td>
    </tr>
    <tr>
        <td>
            Lines added & removed
        </td>
        <td>
            {{ payload.viz.add_sub.div }}
        </td>
    </tr>

    <tr>
        <td>
            Commits
        </td>
        <td>
            {{ payload.viz.commits.div }}
        </td>
    </tr>
    </tbody>
</table>

<br>



{% endblock %}


{% block post_content %}
{{ super() }}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

{{ payload.viz.new_contributors.script }}
{{ payload.viz.add_sub.script }}
{{ payload.viz.commits.script }}
{% endblock %}
