{% extends "base.html" %}
{% block content %}

<div class="row-centered">
  <div class="col-sm-7 col-centered">
    <div class="alert alert-info centered" role="alert">
      <a href="#" class="alert-link">
        GitHub API limit is {{ gh.rate_limiting[0] }} of {{ gh.rate_limiting[1] }}
      </a>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="col-sm-7 col-centered">
    <div class="alert alert-info centered" role="alert">
      <a href="#" class="alert-link">
        Queue has {{ futures|length }} items:
      </a>
{% for uuid, future in futures.items() %}
<li><a href="/report/{{ uuid }}">{{ uuid }}</a> <i class="fa fa-fw fa-lg {{ 'fa-check' if future.done() else 'fa-gears' }}"></i></li>
{% endfor %}

    </div>
    <div class="alert alert-info centered" role="alert">
      <a href="#" class="alert-link">
        {{ cached_jobs|length }} items in cache:
      </a>
{% for uuid in cached_jobs %}
<li><a href="/report/{{ uuid }}">{{ uuid }}</a> <i class="fa fa-fw fa-lg fa-check"></i></li>
{% endfor %}

    </div>

  </div>

  </div>
</div>


{% endblock %}
